<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<head>
    <title>회원가입 페이지</title>

    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/post_view.css}">

</head>

<main layout:fragment="content">

    <section class="view-container">

        <div class="view-title">
            <p th:text="${dto.post_title}"></p>
        </div>
        <div class="view-info">
            <div>
                <p th:text="${dto.post_writer}"></p>
            </div>
            <div>
                <p th:text="${dto.post_regdate}"></p>
            </div>
            
        </div>
        <div class="view-content">
            <p th:text="${dto.post_content}"></p>
        </div>
        <div class="view-count">
            <span>view : </span><span th:text="${dto.post_view}"></span>
        </div>
        
        <div class="view-return">
            <th:block th:if="${dto.post_writer == session.user_nick}">
                <a th:href="@{/board/freeboard}">목록</a>
                <a th:href="@{/board/modify(id=${dto.post_no})}">수정</a>
                <a th:href="@{/board/delete(id=${dto.post_no})}">삭제</a>
            </th:block>

            <th:block th:unless="${dto.post_writer == session.user_nick}">
                <a th:href="@{/board/freeboard}">목록</a>
            </th:block>
            
            
            
        </div>
    </section>

    <!-- JS -->
    <script type="text/javascript" src="/js/user_login.js"></script>


</main>

</html>