<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <div class="container">
        <!-- header -->
        <header>
            <article class="header-title">
                <h1>CRUD BOARD</h1>
            </article>
            <article class="header-menu">
                <div>
                    로그인
                </div>
                <div>
                    회원가입
                </div>
            </article>
        </header>
        <!-- header -->

        <!-- nav bar -->
        <nav class="nav-bar">
            <ul>
                <li>익명 게시판</li>
                <li>자유 게시판</li>
            </ul>
        </nav>
        <!-- nav bar -->

        <!-- main -->
        <main>
            <section>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum id eius blanditiis illum qui sint! Fuga

            </section>

        </main>
        <!-- main -->

        <!-- footer -->
        <footer>
            <article>
                푸터!
            </article>
        </footer>
    </div>


</body>

</html>